@import "tailwindcss";

:root {
  --background: #eadfff;
  --foreground: #180147;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #180147;
    --foreground: #eadfff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .mouse-aura {
    @apply fixed inset-0 pointer-events-none;
    background: radial-gradient(
      700px circle at var(--mouse-x, 0) var(--mouse-y, 0),
      rgba(32, 1, 94, 0.3) 0%,
      rgba(32, 1, 94, 0.5) 30%,
      rgba(32, 1, 94, 0) 50%
    );
  }
}

@layer base {
  .nav-indicator {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    height: 1px;
    width: 2rem;
    background-color: #bdb2ff;
    transition: all 0.15s ease-in-out;
  }

  .group:hover .nav-indicator,
  .group:focus-within .nav-indicator {
    width: 4rem;
    height: 2px;
    background-color: var(--foreground);
  }

  .nav-indicator.active,
  .group .nav-indicator.active {
    width: 4rem;
    height: 2px;
    background-color: var(--foreground);
  }

  .dark .group:hover .nav-indicator,
  .dark .group:focus-within .nav-indicator {
    background-color: var(--foreground);
  }

  .dark .nav-indicator.active,
  .dark .group .nav-indicator.active {
    background-color: var(--foreground);
  }
}

@keyframes spin-gradient {
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-gradient {
  animation: spin-gradient 2s linear infinite;
}
